@charset "UTF-8";

div img {
    width: 100%;
    margin: auto;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 97vh;
    background-color: black;
    background-size: 100%;
}

.home-icon {
    display: flex;
    justify-content: flex-end;
    transform: translate(-1px, -7px);

}

.home1 {
    padding: 10px;
    border-radius: 50%;
    width: 50px;
}

iframe {
    width: 800px;
    height: 800px;
}

.home1:hover {
    transition-duration: 1s; 
}